@font-face {
    font-family: cairo;
    src: url('fonts-6/Cairo-Regular.ttf');
}  
@font-face {
    font-family:Khand ;
    src: url('fonts-6/Khand-Bold.ttf');
}

.fa-bell,
.fa-circle-user{
    font-size: 30px;
}

.search-input {
    background: transparent;
    border-radius: 999999px;
    width: 449px;
}
.input-item{
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
    background: transparent;
    border-color: white;
    border-right: none;

}
.search-icon{
    background: transparent;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    border-color: white;
    border-left: none;
}
.todo-task{

    background-color: #E1E1E1;
}
.sidebar{
    /* padding-left: 23px; */
    font-size: 15px;
    text-decoration:none !important ;
}
.nav-item{
    text-decoration: none;
    color:black;
   
}
.date-track{
    font-size: 9px;
  
    
}
.sub-todo{
    position: relative;
    left: 2px;
}
.first-task{
    background-color: #EEF8FF;
}

.active{
    background-color: #E1E1E1;

}

.add-todo{
    padding-top: 182px;
}

.add-but{
margin-left: 656px;
width: 70px;
height: 70px;
border-radius: 32px;
background-color: #FFFFFF;
box-shadow: 0px 3px 4px #00000029;
opacity: 1;
}

.body{
    background-color: #F6F6F6;
    font-family:cairo;

}
